@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

:root {
	--primary-color: #9ade7b;
	--secondary-color: #508d69;
	--accent-color: #c5e898;
	--white: #f4f6ff;
	--black: #000000;
	--background: var(--secondary-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100dvh;
	background: var(--background);
}
